


@media (max-width: 1290px) {
    
    .flex-container {
        flex-direction: column;
    }

    .header-buttons {
        padding-top: 20px;
        
    }

    .logo-container {
        justify-content: space-between;
    }

    .list-text {
        font-size: 20px;
    }

    .logo-link, .list-text li:not(:last-child){
        margin-right: 37px;
    }
}

@media (max-width: 850px) {
    .logo {
        width: 140px;
        height: 54px;
    }

    .logo-link {
        margin-bottom: 20px;
    }
    
    .logo-container {
        flex-direction: column;
    }

    .list-text {
        flex-direction: column;
        align-items: center;
        font-size: 25px;
    }

    .list-item {
        margin-bottom: 20px;
    }

    .logo-link, .list-text li:not(:last-child){
        margin-right: 0;
    }

    .fix-size {
        padding-right: 12px;
        padding-left: 12px;
    }

    .icons-section {
        margin-top: 40px;
    }

    .button {
        width: 200px;
    }

}